{% extends 'website/_layout.html.twig' %}

{%- block init -%}
  {{- parent() -}}
  {%- do app_page_title.setPage('Discord server') -%}
{%- endblock -%}

{% block content %}
  <h1>Discord page</h1>
  <p>Lorem ipsum...</p>
{% endblock %}
