{% extends 'website/_layout.html.twig' %}

{%- block init -%}
  {{- parent() -}}
  {%- do app_set_page_title_page('Discord server') -%}
{%- endblock -%}

{% block content %}
  <header class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Discord</h1>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p>
          Please join us on our Discord server!
          <a href="https://discord.gg/ZKTSKne" rel="external">Click here to join.</a>
        </p>
        <iframe
          src="https://discordapp.com/widget?id=198158095027798017&theme=dark"
          width="450" height="400" allowtransparency="true" frameborder="0"
        ></iframe>
      </div>
    </div>
  </div>
{% endblock %}
