{% extends 'website/_layout.html.twig' %}

{%- block init -%}
  {{- parent() -}}
  {%- do app_set_page_title_page(world ? 'Local leaderboard' : 'Global leaderboard') -%}
  {%- do app_set_page_title_world(world) -%}
  {%- do app_set_page_title_item(metric) -%}
{%- endblock -%}

{% block content %}
  {% if world %}
    <h1>Local leaderboard page for metric <q>{{ metric }}</q> in world <q>{{ world }}</q></h1>
  {% else %}
    <h1>Global leaderboard for metric <q>{{ metric }}</q></h1>
  {% endif %}
  <p>Lorem ipsum...</p>
{% endblock %}
