root = true

[*]
charset = utf-8
end_of_line = LF
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
max_line_length = 80

[*.css]
max_line_length = 120

[*.csv]
indent_style = unset
indent_size = unset
max_line_length = unset

[{*.html,*.html.twig}]
max_line_length = 120

[{*.json,composer.lock,symfony.lock}]
max_line_length = off

[*.php]
# settings required by PSR-12 standard
indent_size = 4
max_line_length = 120

[LICENSE*]
indent_style = unset
indent_size = unset
max_line_length = unset

[Makefile]
max_line_length = unset
indent_style = tab

[/website/bin/console]
indent_size = 4
max_line_length = 120

[/website/config/**.yaml]
indent_size = 4
max_line_length = off
