/*
Palette sources:
http://www.colourlovers.com/palette/45488/french_vanilla
http://www.colourlovers.com/palette/47378/Camp_Cupcake
 */

:root {
  --palette-light: #f7f6e4;
  --palette-dark: #5f3711;

  --bg-light: var(--palette-light);
  --bg-dark: var(--palette-dark);

  --border-dark: #341e09;

  --text-light: #f8f7e8;
  --text-dark: var(--palette-dark);

  --font-logo: 'Freckle Face', cursive;

  --gradient-dark: linear-gradient(to bottom, #5a3410, #704114 100%);
}

body {
  cursor: default;
  background-color: var(--bg-light);
}

header {
  color: var(--text-dark);
  margin-bottom: 1.5rem;
}

footer {
  font-size: smaller;
  margin-top: 1.5rem;
  text-align: center;

  & dl {
    text-align: center;

    & > * {
      display: inline;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }

  & p {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.btn-light {
  --bs-btn-color: var(--text-dark);
  --bs-btn-bg: var(--bg-light);
  border-style: none;
}

.jumbotron {
  color: var(--text-light);
  background-color: var(--bg-dark);
}
