<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}
  {% endblock %}

  {% block javascripts %}
    {% block importmap %}{{ importmap('website') }}{% endblock %}
  {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{%- set current_datetime = app_clock.now() -%}
{%- set current_datetime_machine = current_datetime|date(constant('DATE_ATOM')) -%}
{%- set current_datetime_human = current_datetime|format_datetime(pattern='yyyy-MM-dd HH:mm:ss z') -%}
<footer>
  <p>
    Server time:
    <time datetime="{{ current_datetime_machine }}">{{ current_datetime_human }}</time>
  </p>
</footer>
</body>
</html>
